@tailwind base;
@tailwind components;
@tailwind utilities;

.backgroundImg {
  background-image: url("../../public/assets/bg.png");
}

/* width */
::-webkit-scrollbar {
  width: 7px;
  border-radius: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #686868;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0b0960;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body{
  font-family: 'Dancing Script', cursive;
}