@tailwind base;
@tailwind components;
@tailwind utilities;

.backgroundImg {
  background-image: url("../../public/assets/bg.png");
}

/* width */
::-webkit-scrollbar {
    width: 15px;
    border-radius: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #686868;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #424242;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }